<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style type="text/css">
body {
background-color: rgb(248, 243, 243);
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction:column;
	 justify-content: flex-start;
     align-items:center;
  	margin: 0;
}
#mobilephone{
  background-color: rgb(249, 252, 247);
  height: 540px;
  width: 260px;
  border-width:medium;
  border-style:solid;
  border-color:blue;
  position: relative;
  display: flex;
  flex-direction:column;
	 justify-content: flex-start;
     align-items:center;
  	margin: 0;
    border-radius:25px
}
.appbutton{
    height:60px;
    width:200px;
    background-color:#d6eff5;
    font:40px;
    text-align:center;
    line-height:60px;
    margin:5px;
    border-radius:10px

}
#sidearea{
background-color: rgb(213, 218, 210);
  height: 760px;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction:column;
	 justify-content: flex-start;
     align-items:center;
  	margin: 0;
    border-radius: 20px;
}
.sidepart{
    width: 350px;
    height:240px;
    margin-top:10px;
    border-radius:10px
}
#bellcall{
    background:#f5f5d6
}
#messageboard{
    background:#d6f5de
}
#contactpart{
    background:#d6f5de ;
    width:100vw;
    height:100px;
    align-content: flex-end;
}
.contactinfo {
    margin-left:100px
}
.navbar{background:#d6eff5;}
.nav-link, .navbar-brand{color: #f4f4f4;cursor:pointer;}
.nav-link{margin-right:1em !important;}
.nav-link:hover{background: #f4f4f4;color:#f97300;}
.navbar-collapse{justify-content:flex-end;}
.navbar-toggler{background:#fff !important;}

</style>

  <title>申請者App示意版</title>
  </head>
  <body>
    <div id="show_div">
      <content1></content1>
    </div>

    <template id="content1UI">
        <nav aria-label="...">

        <div id="mobilephone">
            <h3>公評碳權申請人App</h3>
            <a class="appbutton">{{buttons.button1}}</a>
            <a class="appbutton" :href="applyurl">{{buttons.button2}}</a>
            <a class="appbutton">{{buttons.button3}}</a>
            <a class="appbutton">{{buttons.button4}}</a>
            <a class="appbutton">{{buttons.button5}}</a>
            <a class="appbutton">{{buttons.button6}}</a>
              <==           ...
          </div>
        </nav>
    </template>

<!-- Vue CDN-->
<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
<script>
  Vue.component("content1",{
    props:{},
    data(){
      return {
        buttons:{
            button1:"登入註冊",
            button2:"申請公評碳權",
            button3:"上傳佐證資料",
            button4:"拍照上傳",
            button5:"認驗證進度查詢",
            button6:"公評碳權權包"
          },
        user1:JSON.parse(decodeURIComponent('<%= user1 %>')),
        applyurl:"/base4dcarbon/activity/inputpage1/"+user1.a10personID
      }
    },
    mounted:function(){
        console.log("user1:"+this.user1)
        console.log("applyurl:"+this.applyurl)
    },
    methods:{

    },
    template:"#content1UI"
  });
/*
  Vue.component("content2",{
    props:{},
    data(){
      return{
      }
    },
    mounted:{

    },
    methods:{

    },
    template:"#content2UI"
  });
*/
    new Vue({
        el:'#show_div',
        data(){
            return{
                testdata:'有執行到此。。。。'
            }
        },
        /* computed:{

        },
        watch:{

        },
        filters:{

        },
        mixins:[

        ],
        template:" ",

        components:{
          "bander":bander,
          "outputer":outputer,
          "inputer":inputer
        },*/
        beforeCreate:function(){
          console.log("before create...")
        },created:function(){
          console.log("created...")
        },
        beforeMount:function(){
          console.log("before mount...")
        },
        mounted:function(){
          console.log("mounted...")
        },
        beforeUpdate:function(){
          console.log("before update...")
        },
        updated:function(){
          console.log("updated...")
        },
        beforeDestroy:function(){

        }
    })
</script>


  </body>
</html>
