<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style type="text/css">
body {
background-color: rgb(248, 243, 243);
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction:column;
	 justify-content: flex-start;
     align-items:center;
  	margin: 0;
}
#sidearea{
background-color: rgb(213, 218, 210);
  height: 760px;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction:column;
	 justify-content: flex-start;
     align-items:center;
  	margin: 0;
}
.sidepart{
    width: 350px;
    height:240px;
    margin-top:10px;
    border-radius:10px
}
#bellcall{
    background:#f5f5d6
}
#messageboard{
    background:#d6f5de
}
#contactpart{
    background:#d6f5de ;
    width:100vw;
    height:100px;
    align-content: flex-end;
}
.contactinfo {
    margin-left:100px
}
.navbar{background:#d6eff5;}
.nav-link, .navbar-brand{color: #f4f4f4;cursor:pointer;}
.nav-link{margin-right:1em !important;}
.nav-link:hover{background: #f4f4f4;color:#f97300;}
.navbar-collapse{justify-content:flex-end;}
.navbar-toggler{background:#fff !important;}

</style>

  <title>申請者App示意版</title>
  </head>
  <body>
    <div id="show_div">
      <bander></bander>

        <div class="row" align="justify">
            <div class="col-lg-3 col-md-6 col-sm-12" id="sidearea">
                <sidebar></sidebar> </div>
            <div class="col-lg-9 col-md-6 col-sm-12">
                <div class="row" align="justify">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <content1></content1> </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <content2></content2>
                    </div>
                </div>
            </div>
        </div>
    <contacter></contacter>
    </div>

    <template id="banderUI">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="row">
                <div class="col-lg col-sm-6">
                    <a class="navbar-brand" href="/">{{brand}}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                <div class="col-lg col-sm-6">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">{{apply}}<span class="sr-only">(current)</span></a>
                    </li>
                    </div>
                    <div class="col-lg col-sm-6">
                      <li class="nav-item">
                        <div class="dropdown">
                            <button
                                class="btn btn-secondary dropdown-toggle"
                                type="button"
                                id="dropdownMenuButton"
                                data-toggle="dropdown">
                                {{decomposer}}
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/branch/pwa4decomposer">{{decomposer}}</a>
                            </div>
                        </div>
                    </li>
                    </div>
                    <div class="col-lg col-sm-6">
                        <li class="nav-item">
                            <div class="dropdown">
                                <button
                                    class="btn btn-secondary dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown">
                                    {{methodor}}
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/branch/pwa4methodor">{{methodor}}</a>
                                </div>
                            </div>
                        </li>
                    </div>
                    <div class="col-lg col-sm-6">
                        <li class="nav-item">
                            <div class="dropdown">
                                <button
                                    class="btn btn-secondary dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown">
                                    {{collecter}}
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/branch/pwa4collecter">{{collecter}}</a>
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
                <div class="col-lg col-sm-6">
                    <span class="navbar-text">
                        <font size="1">{{statusreport}}</font>
                    </span>
                </div>
                <div class="col"></div>
                <div class="col-lg col-sm-6">
                    <span class="navbar-text">
                        <font size="1">親愛的{{user}}</font>
                    </span>
                </div>
                </div>
            </div>
        </nav>
    </template>

    <template id="content1UI">
        <nav aria-label="...">
            <h1>建構中....</h1>
            <div id="productimg"></div>
        </nav>
    </template>

    <template id="content2UI">
        <nav aria-label="...">


        </nav>
    </template>

    <template id="sidebarUI">
        <nav aria-label="...">
            <div class="sidepart" id="callbell">
                {{statusreport}}
                {{promote}}

            </div>
            <div class="sidepart" id="messageboard">
                <form action="/message/add1" method="post">
                <label>歡迎指教：</label>
                <textarea name="a25message" placeholder="請輸入您的指教或提問..."></textarea>
                <label>如何回復您：</label>
                <input type="text" name="a10writer" placeholder="請留連絡電話或email或稱呼...">
                <input type="hidden" name="a05ipofvisitor" class="form-control" id="ipofvisitor" :value="ipofvisitor">
                <input type="submit" value="送出" style="float:right" >
                </form>
            </div>
            <div class="sidepart" id="loginarea">
                <table>
                    <tr><td>會員專區</td></tr>
                    <tr id="rowinputid">
                        <td>
                        <form action="/branch" method="post">
                        <label>會員帳號：</label>
                        </td>
                        <td>
                        <input type="text" name="account" required/>
                        </td>
                    </tr>
                    <tr id="rowinputpw">
                        <td>
                        <label>會員密碼：</label>
                        </td>
                        <td>
                        <input type="password" name="password"/>
                        </td>
                    </tr>
                    <tr id="rowsubmitid">
                        <td>
                        <input type="hidden" name="statusreport" class="form-control" id="msg1" value="由帳號登入後進入本頁">
                        <input type="submit" value="確認" style="float:right" >
                        </form>
                        </td>
                    </tr>
                    <tr id="rownoid">
                        <td><span>
                        <form action="/user/getpassword" method="get">
                        <input type="submit" value="忘記密碼？">
                        </form>
                        <form action="/user/register" method="get">
                        <input type="submit" value="註冊新帳號">
                        </form>
                        </span></td>
                    </tr>
                    </table>
            </div>
        </nav>
    </template>

    <template id="contacterUI">
        <nav aria-label="...">
            <div id="contactpart">
         <div class="contactinfo" id="address"> 系統維管組織地址：{{address}}</div>
         <div class="contactinfo" id="tel">服務專線：{{tel}}</div>
         <div class="contactinfo" id="tel">服務電郵：{{email}}</div>
        </div>
        </nav>
    </template>

<!-- Vue CDN-->
<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnUK0WDGT2ba1GiTWXv910l5e0Hza7y-U&callback=initMap" async defer></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
<script>
Vue.component("bander",{
    props:{},
    data(){
      return {
        brand:"dCarbon",
        apply:"申請人App示意功能",
        decomposer:"活動流程分解者士PWA",
        methodor:"認驗證方法建構士PWA",
        collecter:"參數蒐整士PWA",
        investigatot:"驗證查驗士PWA",
        maitainer:"後端資料庫維護",
        receiver:"公評碳權採納者",
        user:"無名",
        statusreport:'<%- statusreport %>'
      }
    },
    mounted:{
    },
    methods:{

    },
    template:"#banderUI"
  });
  Vue.component("sidebar",{
    props:{},
    data(){
      return{
        promote:"淨零救地球！歡迎將您的減碳或增匯貢獻申請公評碳權認證!!",
        ipofvisitor:"",
      inputerUIkey:0
      }
    },
    mounted: async function(){
        const API_URL = 'https://api.ipify.org?format=json';

        // 取得 IP 位址
        const response = await axios.get(API_URL);
        this.ipofvisitor= response.data.ip

    },
    methods:{

    },
    template:"#sidebarUI"
  });
  Vue.component("contacter",{
    props:{},
    data(){
      return {
        address:"臺北市",
        tel:"02-29293551",
        email:"service@dcarbon.org"
      }
    },
    methods:{

    },
    template:"#contacterUI"
    });
  Vue.component("content1",{
    props:{},
    data(){
      return{
       items:[
       ]
      }
    },
    computed:{

    },
    methods:{

    },
    template:"#content1UI"
  });
  Vue.component("content2",{
    props:{},
    data(){
      return{
      }
    },
    computed:{

    },
    methods:{

    },
    template:"#content2UI"
  });
    new Vue({
        el:'#show_div',
        data:{
          testdata:'有執行到此。。。。'
        },
        /* computed:{

        },
        watch:{

        },
        filters:{

        },
        mixins:[

        ],
        template:" ",

        components:{
          "bander":bander,
          "outputer":outputer,
          "inputer":inputer
        },*/
        beforeCreate:function(){
          console.log("before create...")
        },created:function(){
          console.log("created...")
        },
        beforeMount:function(){
          console.log("before mount...")
        },
        mounted:function(){
          console.log("mounted...")
        },
        beforeUpdate:function(){
          console.log("before update...")
        },
        updated:function(){
          console.log("updated...")
        },
        beforeDestroy:function(){

        }
    })
</script>


  </body>
</html>
